$width: 1142px;
$font: Lato;

.productdet {
	width: $width;
	margin: 0 auto;
}

.productdet__singlecont__breadcrump {
	$width: 1600px;
	width: $width;

}

.productdet__prodcart {
	width: 100%
}


.productdet__prodcart__name {
	display: flex;
	justify-content: space-between;
	height: 32px;
	text-transform: uppercase;
	color: #222222;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	text-align: left;
	font-family: $font;
	margin-top: 90px;
	margin-bottom: 20px;

	& span {display: block;}
	& span:first-child {margin-right: 300px;}
}

.productdet__prodcart__description {
	display: flex;
	padding-top: 20px;
	border-top: 1px solid #eaeaea; 
	padding-bottom: 20px;



& img {
	display: block;
}	


.productdet__prodcart__description__dsc {
	width: 40%;
	margin-right: 100px;
}

.productdet__prodcart__description__dsc img {
	display: block;
	float: left;
	margin-right: 21px;
}

.productdet__prodcart__description__dsc__head {
	font-family: $font;
	color:#222;
	font-size: 13px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	margin-top: 13px;
	margin-bottom: 38px;
}

& span {
	
	font-family: $font;
	color:#6f6e6e;
	font-size: 13px;
	font-weight: 300;
	text-align: left;
	text-transform: capitalize;
	margin-top: 0;
 }



 & p {
	margin: 0;
 	color:#6f6e6e;
	font-weight: 300;
	text-align: left;
	text-transform: capitalize;
	
 }

.productdet__prodcart__description__con {
	width: 60%;
	margin-right: 20px;
	padding-top: 30px;
	display: flex;
	justify-content: space-between;

	&  input {
		width: 54px;
		height: 30px;
		font-family: $font;
		color: #656565;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		border-style: solid;
		border-width: 1px;
		border-color: #eaeaea;
		outline: none;
}

.productdet__prodcart__description_cancel	{
	display: block;
	width: 15px; 
	height: 15px;
}

& a:hover {
	opacity: .4;
}

}

}

.productdet__prodcart__description__last {
	border-bottom: 1px solid #eaeaea; 
}

.productdet__prodcart__btn {
	display: flex;
	justify-content: space-between;
	margin: 44px 0 63px 0;
}

.productdet__prodcart__btn1 {
	width: 235px;
	height: 50px;
	border-style: solid;
	border-width: 1px;
	border-color: 	#eaeaea;
	background-color: 	#ffffff;
	font-family: $font;
	color: 	#4a4a4a;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	outline: none;
	}

	.productdet__prodcart__btn1:hover {
		opacity: .4;
	}


.productdet__condition {
	width: 100%;
	display: flex;
	justify-content: space-between;


.productdet__condition__adress {
	width: 355px;
	height: 268px;
}

& legend {
	font-family: $font;
	color:	#222222;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 22px;
}

&  select  {
	width: 355px; 
	height: 45px;
	border-style: solid;
	border-width: 1px;
	border-color:	#eaeaea;
	background-color: 	#ffffff;
	font-family: $font;
	color: 	#b1b1b1;
	font-size: 13px;
	font-weight: 300;
	text-transform: capitalize;
	padding-left: 16px;
	margin-bottom: 20px;
	outline: none;
	}
& input  {
	width: 337px; 
	height: 45px;
	border-style: solid;
	border-width: 1px;
	border-color:	#eaeaea;
	background-color: 	#ffffff;
	font-family: $font;
	color: 	#b1b1b1;
	font-size: 13px;
	font-weight: 300;
	text-transform: capitalize;
	padding-left: 16px;
	margin-bottom: 20px;
	outline: none;
}
& button {
	width: 100px;
	height: 35px;
	border-style: solid;
	border-width: 1px;
	border-color: #eaeaea;
	background-color: #ffffff;
	font-family: Lato;
	color: 	#4a4a4a;
	font-size: 11px;
	font-weight: 900;
	text-transform: uppercase;
	outline: none;
	}

& button:hover {
	opacity: .4;
}	

}

.productdet__condition__discount {
	width: 355px;
	height: 268px;


& legend {
	font-family: $font;
	color:	#222222;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 22px;
}

& p {
	font-family: $font;
	color:	#000000;
	font-size: 14px;
	font-weight: 300;
	text-align: left;
}

& input  {
	width: 337px; 
	height: 45px;
	border-style: solid;
	border-width: 1px;
	border-color:	#eaeaea;
	background-color: 	#ffffff;
	font-family: $font;
	color: 	#b1b1b1;
	font-size: 13px;
	font-weight: 300;
	text-transform: capitalize;
	padding-left: 16px;
	margin-bottom: 20px;
	outline: none;
}
& button {
	width: 118px;
	height: 35px;
	border-style: solid;
	border-width: 1px;
	border-color: #eaeaea;
	background-color: #ffffff;
	font-family: Lato;
	color: 	#4a4a4a;
	font-size: 11px;
	font-weight: 900;
	text-transform: uppercase;
	outline: none;
	}

& button:hover {
	opacity: .4;
}

}

.productdet__condition__total {
	width: 360px;
	height: 214px;
	background-color: #f5f3f3;



	.subtotal {
		display: block;
		margin-top: 40px;
		margin-right: 42px;
		font-family: $font;
		color: #4a4a4a;
		font-size: 11px;
		font-weight: 400;
		text-align: right;
		text-transform: uppercase;
	}

	.grandtotal {
		font-family: $font;
		color:	#222222;
		font-size: 16px;
		font-weight: 700;
		text-align: right;
		text-transform: uppercase;
		margin-top: 14px;
		margin-right: 42px;
	}
	.grandtotal_price {	
		font-family: $font;
		padding-left: 15px;
		color: #f16d7f;
		font-size: 16px;
		font-weight: 700;
		text-align: left;
		}
	

	.productdet__condition__total__btn{
		width: 273px;
		height: 107px;
		margin: auto;
		border-top: 1px solid #e2e2e2;
	
	& button {
	width: 273px;
	height: 50px;
	background-color:#f16d7f;
	margin-top: 17px;
	font-family: $font;
	color:	#ffffff;
	font-size: 16px;
	font-weight: 700;
				  }
		}
}