.productdet {
  width: 1142px;
  margin: 0 auto; }

.productdet__prodcart {
  width: 100%; }

.productdet__prodcart__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 32px;
  text-transform: uppercase; }
  .productdet__prodcart__name span {
    display: block; }
  .productdet__prodcart__name span:first-child {
    margin-right: 50px; }

.productdet__condition {
  width: 100%; }
