$width: 1142px;

.productdet {
	width: $width;
	margin: 0 auto;
}

.productdet__prodcart {
	width: 100%
}

.productdet__prodcart__name {
	display: flex;
	justify-content: space-around;
	height: 32px;
	text-transform: uppercase;

	& span {display: block;}
	& span:first-child {margin-right: 50px;}
}

.productdet__condition {
	width: 100%; 
}